<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <script src="../javascript/jquery/dist/jquery.js"></script>
    <script src="../javascript/loginScript.js"></script>
</head>
<body>
    <form id="form">
        username: <input type="text" name="username" id="email"><br>
        password: <input type="password" name="pass" id="pass"><br>
        <input type="button" name="submit" value="Login" id="btn">

        <input type="button" name="signUp" value="signUp" id="signUp">
    </form>
</body>
</html>