<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Tests</title>
    <script src="/javascript/jquery.js"></script>
    <script src="/javascript/cexam.js"></script>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
<div class="tests">
<h1>Tests</h1>
<br>
<button id="java" >Solve Java Test</button><br><br><br>
<button id="cpp" >Solve C++  Test</button><br><br><br>
<button id="db"  >Solve Database Test</button><br><br><br>
<button id="iq"  >Solve IQ Test</button>
</div>

<script>
    alert("Pleas , Press on the button to solve the test");
</script>

</body>
</html>

<form id="form1"></form>
